.box {
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background: #8994E6;
}

.btn {
    color: white;
    background-color: #f5bf41;
    border: none;
    padding: 10px 100px;
    margin-top:5%;
}

.btn-register{
    color: black;
    background-color: transparent;
    border: none;
    padding: 0px 100px;
    margin-top:5%;
}

.padd{
    padding-top:20px;
}

.background{
    background: #8994E6;
}

.texto{
    margin-top:40%;
}