<ion-header class="header">
  <ion-text class="title">
    Iniciar Sesión
  </ion-text>
  <ion-button filL="clear" class="user_btn" routerLink="/home">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center texto">
    Inicia Sesión o Registrate
  </div>
  <form [formGroup]="form">
    <div class="box">
      <ion-item>
        <ion-input 
          label="Usuario" 
          labelPlacement="floating" 
          formControlName="usuario"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
          label="Contraseña" 
          labelPlacement="floating" 
          formControlName="pass" 
          type="password"
        ></ion-input>
      </ion-item>
    </div>
    <div class="ion-text-center padd">
      <input
        class="btn"
        type="submit"
        value="Ingresar"
        [disabled]="(form.status) === 'INVALID'"
        (click)="getUser()"
      />
    </div>
    <div class="ion-text-center padd">
      <input
        class="btn-register"
        type="submit"
        value="Registrate"
        routerLink="/register"
      />
    </div>
  </form>
</ion-content>

<ion-footer class="footer"></ion-footer>
