<ion-header class="header">
  <div>
    <ion-text class="title">
      Home
    </ion-text>
  </div>
  <ion-button filL="clear" class="user_btn" routerLink="/sign-in" style="float:right">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="margen">
    <ion-card-header>
      <ion-card-title class="titlecard">VER ESTACIONAMIENTOS</ion-card-title>
    </ion-card-header>
    <ion-button class="btncard" routerLink="/arriendo" fill="clear">></ion-button>
  </ion-card>

  <ion-card class="margen">
    <ion-card-header>
      <ion-card-title class="titlecard">REGISTRAR ESTACIONAMIENTO</ion-card-title>
    </ion-card-header>
    <ion-button class="btncard" routerLink="/estacionamiento" fill="clear">></ion-button>
  </ion-card>

  <ion-card class="margen">
    <ion-card-header>
      <ion-card-title class="titlecard">REGISTRAR VEHÍCULO</ion-card-title>
    </ion-card-header>
    <ion-button class="btncard" routerLink="/vehiculo" fill="clear">></ion-button>
  </ion-card>
</ion-content>

<ion-footer class="footer">
  <ion-text class="footer-text">Contáctate con nosotros: <br> Correo: vivoParking&#64;duocuc.cl <br> Teléfono: +56912345678</ion-text>
</ion-footer>

