.title{
  display:flex;
  justify-content: center;
  padding-top:20px;
  padding-left:20px;
}

.user_btn{
  float:right;
}

.titlecard {
  font-size: 22px;
}

.btncard {
  margin-left: 90px;
  padding-bottom: 20px;
  width: 50%;
  font-weight: bold;
}

.header {
  padding: 20px;
  background-color:#8994E6;
}

.iconuser {
  color: white;
}

.footer {
  padding: 40px;
  background-color: #8994E6;
}
