.margen{
  margin:0 20px;
  margin-top:70px;
  margin-bottom:20px;
}

.user_btn{
  float:right;
}

.titlecard {
  font-size: 18px;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top:10px;
}

.btncard {
  margin-bottom: 10px;
  margin-right: 15px;
  width: 40%;
  font-weight: bold;
  float:right;
  color:black;
}

.iconuser {
  color: white;
}

.footer-text{
  color:white;
  font-size:12px;
  font-weight: bold;
  float:left;
}
