.title{
    display:flex;
    justify-content: center;
    padding-top:20px;
}

.margen{
    margin-top:10%;
    margin-bottom:5%;
}

.ipts-form {
    margin-left: 20px;
    font-weight: 400;
    font-size: 17px;
    font-family: sans-serif;
  }