<ion-header class="header">
  <ion-text class="title">
    Registrar
  </ion-text>
  <ion-button filL="clear" style="float:left" routerLink="/sign-in">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-text-center margen">
    <ion-text>
      Seleccione que tipo de usuario quiere registrar
    </ion-text>
  </div>
  <div class="ion-text-center margen">
    <select [(ngModel)]="formulario">
      <option value="0"> Seleccione </option>
      <option value="1"> Cliente</option>
      <option value="2"> Dueño</option>
    </select>
  </div>
  

  <div *ngIf="formulario == 1">
    <form>
      <ion-input label="Nombre" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Apellido" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Contraseña" labelPlacement="floating" class="ipts-form" type="password"></ion-input>
      <ion-input label="RUT" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Dirección" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="N°Casa o Apartamento" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Tipo de Cuenta Bancaria" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Vehículo/s" labelPlacement="floating" class="ipts-form"></ion-input>
  
      <ion-button>
        Registrar
      </ion-button>
    </form>
  </div>

  <div *ngIf="formulario == 2">
    <form>
      <ion-input label="Nombre" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Apellido" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="RUT" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Dirección" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="N°Casa o Apartamento" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Tipo de Cuenta Bancaria" labelPlacement="floating" class="ipts-form"></ion-input>
      <ion-input label="Ubicación Estacionamiento" labelPlacement="floating" class="ipts-form"></ion-input>
  
      <ion-button>
        Registrar
      </ion-button>
    </form>
  </div>
</ion-content>
